@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,600;1,700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.title{
    font-weight: 800;
}
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 115px;
}
.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin: 10px 20px;
    width: 250px;
}
.card-body{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 576px){
    section{
        padding: 15px 40px;
    }
    .title{
        font-size: 22px;
    }
    #search{
        width: 160px;
    }
    .card{
        width: 300px;
    }
}